<h1>Guest Information</h1>
<p>Please fill out your information to book the trip. Contact information 
    is only used to contact you if needed before the trip or to notify you 
    of changes to the booking. Also please check the under 3 checkbox if 
    this information if for a child under the age of three.</p>

<%= render 'form' %>

<%= link_to 'Back', @booking, class: "button" %>
