
<div class="center-content">
  <h1 class="home-header">Perseverance Boat</h1>
  <div class="home-image"><%= image_tag "PerseveranceBoat.jpg" %></div>
  <div class="home-buttons group">
    <%= link_to "Book Trip", bookings_path, class: "book-button button" %>
    <span class="rules-button button">
      Rules
    </span>
  </div>
</div>
