<%= coffee_script_tag do %>
  $(document).ready ->
    $('#home-nav-link').addClass('selected')
<% end %>

<div class="center-content">
  <h1 class="home-header">Perseverance Boat</h1>
  <div class="home-image"><%= image_tag "PerseveranceBoat.jpg" %></div>
  <div class="home-buttons group">
    <%= link_to "Book Trip", bookings_path, class: "book-button button" %>
    <a href="#modal-view" class="rules-button button call-modal">Rules</a>
  </div>
</div>

