<%= coffee_script_tag do %>
  # Initialize the Calendar with the event source url 
  root = exports ? this
  $(document).ready ->
    calendar = new root.Calendar '<%= url_for bookings_path(:format => :json) %>', '<%= url_for bookings_path %>'
    $('#book-nav-link').addClass('selected')
<% end %>

<h1>Book a Trip</h1>
<div class="create-new">
  <div class="create-button button">
    <%= link_to "Create", new_booking_path %>
  </div>
</div>
<div id='calendar'></div>

