$large-radius: 10px; 
$radius: 4px; 
$background: rgba(164,190,220,.8); 
$content-background: rgba(255,255,255,1); 
$header-background: rgba(0,0,0,1); 
$border-color: rgba(184, 184, 184, .5); 
$center: 0 auto; 

.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
  }
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

body { 
    background: $background; 
    margin: 0; 
}

.page-body { 
    padding: 0; 
    width: 75%; 
    margin: $center; 
}

.center-content { 
  margin: $center; 
}

.header { 
    background: $header-background; 
    height: 30px; 
    border: solid 1px $header-background; 
    color: $border-color; 

    .selected a, a:hover { 
      color: white; 
    }

    a {
      text-decoration: none; 
    }

    div, span { 
      display: inline-block; 
      padding: 2px 17px 3px 20px; 
    }

    .right { 
      float: right;

      .nav-link { 
        border-left: solid 1px $border-color; 
      }
    }

    .left { 
      overflow: hidden;
    } 

    .nav-link { 
      display: inline-block;
      text-align: center; 
    } 
}

.content { 
    background: $content-background; 
    border: solid 1px $border-color; 
    border-top: solid 0px; 
}

.center-content {
    padding: 20px; 
}

.block-corner-large-right {
    border-top-right-radius: $large-radius; 
    border-bottom-right-radius: $large-radius; 
}

.block-corner-large-left {
    border-top-left-radius: $large-radius; 
    border-bottom-left-radius: $large-radius; 
}

.block-corner-large-bottom {
    border-bottom-left-radius: $large-radius; 
    border-bottom-right-radius: $large-radius; 
}

.block-corner-right {
    border-top-right-radius: $radius; 
    border-bottom-right-radius: $radius; 
}

.block-corner-left {
    border-top-left-radius: $radius; 
    border-bottom-left-radius: $radius; 
}

@media screen and (max-device-width: 1000px) {
  .page-body { 
      width: auto; 
      margin: 0; 
  }

  body { 
    background: $content-background; 
  }

  @media screen and (max-device-width: 520px) {
    .page-body { 
      height: auto; 
    }

    .header { 
      height: 40px; 

      .right { 
        padding-top:8px; 
        width: auto; 

        span:last-child { 
            display: none; 
        }
      }

      .left { 
        display: none; 
      }

      span { 
        padding-left:13px; 
        padding-right:13px; 
      }

      .right span:first-child { 
        border: none;    
      }
    }
  }
}

